.szwed-shop {
  color: rgb(195, 42, 34);
  font-family: 'Pacifico', cursive;
  font-weight: 200;
  font-size: 19px;
}

.szwed-shop:hover,
.szwed-shop:focus,
.szwed-shop:active {
  text-decoration: none;
  color: rgb(195, 42, 34);
}

.loading {
  /* height: 100%; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-repeat: no-repeat;
}
